@font-face {
    font-family: "DMSerif" ;
    src: url(assets/fonts/DMSerifDisplay-Regular.ttf);}
    
body {
        font-family: "DMSerif", verdana;
    }
    

div {
    
    margin: 3px;
    text-align: center;
}

#parent {
    background: url(images/ciel.PNG) center/cover;
    background-position: 100% 50% ;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr 10fr 2fr;
    grid-template-areas:
        "header_logo header_titre header_bouton"
        "nav nav nav"
        "main main main"
        "footer footer footer";
    height: 95vh;
}

#header_logo{
    grid-area: 'header_logo';
}
#header_titre{
    grid-area: 'header_titre';  
    
}
#header_bouton{grid-area: "header_bouton";
    flex-direction: column ;
    align-items: center;
    grid-template-rows;: 1fr  1fr;
    display: flex;
    justify-content: center;
    
}

.telecharger{background-color: black;
    color: white ;
    padding: 15px; 
    margin: 10px;
    border-radius: 10%;
}

.connecter {background-color: black;
    color: white;
    padding: 15px; 
    border-radius: 10%;
}

.logo {
    border-radius: 50%;
    margin: 5px;
    max-height: 20vh;
    align-items: center;
    box-shadow: 0px -1px 9px 3px #1c5d9169;
}

nav {
    background-color: black;
    color: cyan;
    grid-area: nav;
    justify-content: space-around;
    display: flex; 
    align-items: center;
    padding: 15px;
    font-style: italic; font-weight: bold;
    font-size: x-large;
}

main {
       grid-area: main; 
    align-content: center;
}

.fond{
    height: auto;
    width: 100vw;
}

footer {
    background-color: black;
    color: white;
    grid-area: footer; max-height: 50%;
    justify-content: space-between; 
    display: flex;
    align-items: center;
    padding: 15px; 
}